/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
#main{
    display: block;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33%;
}

.btn{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover{
    background-color:#ddd;
    color: #000;
    cursor: pointer;
}

/* -------------- */
/* thu tu css
1- tu ngoai vao trong
2- tu tren xuong duoi
3- tu tong quan den chi tiet
 */
/* xac dinh thuoc tinh
1-vi tri
2-kich thuoc
3-mau sac
4-kieu dang
 */

#header{
    position: fixed;
    top :0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}

#header .search-btn{
    float: right;
    padding: 0px 22px;
}

#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 45px;
}

#nav-pc ,.subnav-pc{
    list-style-type: none;
    display: inline-block;
}

#nav-pc > li{
    display: inline-block;
}

#nav-pc li{
    position: relative;
}

#nav-pc li:hover .subnav-pc{
    display: block;
}

#nav-pc > li > a{
    color: white;
    text-transform: uppercase;
}

#nav-pc li a{
    text-decoration: none;
    line-height: 46px;
    padding:0px 24px;
    display: block;
}
#nav-pc > li:hover > a,
#nav-pc .subnav-pc li:hover{
    color: black;
    background-color:gray;
}
#nav-pc .subnav-pc{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 0;
    top:100%;
}

#nav-pc .subnav-pc a{
    color: black;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}
.down-arow{
    font-size: 12px;
}

.over-layer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.6);
    display: none;
    animation: Fadein linear 0.3s;
}

#nav-mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}

#nav-mobile li{
    margin-top: 30px;
    margin-left: 20px;
}

#nav-mobile a{
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 20px;
}

#nav-mobile a:hover{
    background-color: #757575;
    color: #fff;
}

.close-nav_btn{
    position: absolute;
    top: 0;
    right: 10px;
    width: 28px;
    height: 28px;
    color: #666;
    cursor: pointer;
}

.nav_bars-btn{
    width: 28px;
    height: 28px;
    color: #fff;
    margin:5px 10px;
    display: none;
}

.nav-input:checked ~ .over-layer{
    display: block;
}

.nav-input:checked ~ #nav-mobile{
    transform: translateX(0);
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/chicago.jpg) top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    color: #fff;
}
#slider .text-header{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-p{
    font-size: 15px;
    margin-top: 25px;
}

.content-section{
    max-width: 800px;
    margin: auto;
    padding: 64px 16px;
}

.content-section .section-heading{
    text-align: center;
    font: 30px;
    font-weight: 400;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.content-section .section-sub-heading{
    text-align: center;
    margin: 15px 0px;
    opacity: 0.4;
    font-size: 16px;
    font-style: italic;
}

#content .member{
    float: left;
}

#content #about-inf-member{
    padding: 32px 0px;
    overflow: hidden;
    text-align: center;
}

#content .section-text{
    text-align: justify;
    margin: 15px 0px;
    max-width: 800px;
    line-height: 1.6;
}

#content .member p{
    width: 256px;
    height: 22px;
}

#content .member img{
    width: 154px;
    margin-bottom: 16px;
    border-radius: 4px;
}

#tour{
    background-color: black;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* place */
.place-list{
    padding: 48px 0px;
    overflow: hidden;
    margin-top: 32px;
}

.place-item{
    width: 33.333%;
}

.place-img{
    /* width: 245px;
    height: 184px; */
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

#contact{
    padding: 64px 0px;
}

.contact-inf{
    font-size: 18px;
    line-height: 1.5;
}

.contact-inf i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.adress-inf{
    font-size: 15px;
}

.adress-inf .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-btn{
    color: #fff;
    background-color: #000;
    border: none;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    color: #757575;
}

#footer .social{
    font-size: 24px;
}

#footer .copyright{
    font-size: 15px;
}

#footer a{
    text-decoration: none;
    color: #757575;
}

#footer a:hover{
    opacity: 0.4;
}

#tickets-screen{
    z-index: 3;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 100px;
}

#tickets{
    
    margin: auto;
    max-width: 900px;
    box-shadow:4px #757575;
    
}

#header-tick{
    background-color: rgb(0,150,136);
}
#header-text{
    max-width: 868px;
    margin: 10px 0px;
    padding: 32px 16px;
}
#header-text h2{
    height: 64px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
}

#x-btn{
    float: right;
    padding: 8px 16px;
    background-color: rgb(0,150,136);
    border: none;
    color: #fff;
}

#content-tick{
    padding: 0px 16px;
}

.content-tick-text{
    margin: 15px 0px;
}

.content-tick-ipt{
    padding: 8px;
    width: 100%;
    border: 1px solid rgb(204,204,204);
}

#pay-btn{
    background-color: rgb(0,150,136);
    border: none;
    color: #fff;
    width: 100%;
    padding: 16px;
    margin: 16px 0px;
    font-size: 15px;
    font-weight: 400;
}

#close-btn{
    background-color:#f44336;
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 400;
}

#footer-tick-left{
    float: left;
}

#footer-tick-right{
    float: right;
}


#tickets .tick-btn:hover{
    color: #000;
    background-color: #ddd;
    cursor: pointer;
}

/* Mobile */
@media (max-width:63.75em){
    .nav_bars-btn{
        display: block;
    }

    #nav-pc,.subnav-pc{
        display: none;
    }
}

@keyframes Fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}